
		$titleColor:#ebfffe;

		$titleSize:36;	

		$pageHeaderColor:#d1e3db;

		$pageHeadersize:24;

		$mediumHeaderColor:	#b8c8bc;

		$mediumHeaderSize:	undefined;

		$smallHeaderColor:	#bcc8c1;

		$smallHeaderSize:16;

		$bodyTextColor:	#f7f6fb

		$bodyTextSize:	14

		$navLinkColor:	#83fcfc

		$navLinkSize:	18
	
		$otherLinkColor:#ccc	

		$hoverOnLinkColor:#acff00	

		$objectTextColor:#8a75f7	

		$objectTextSize:	13

		$titleBackgroundColor: #121212

		$headerBackgroundColor: #3e3e3f

		$navigationBackgroundColor:#69686a 

		$bodyBackgroundColor:#848484 

		$emphasisBackgroundColor:#bebdbe 

		$objectBackgroundColor:#555

		