$titleColor: #fffefc;
		$titleSize: 36px;	
		$pageHeaderColor: #e3dcd1;
		$pageHeadersize: 24px;
		$mediumHeaderColor:	#c8c3b8;
		$mediumHeaderSize:	22px;
		$smallHeaderColor:	#c8c4bc;
		$smallHeaderSize:16px;
		$bodyTextColor:	#eee5d8;
		$bodyTextSize:	14px;
		$navLinkColor:	#efefef;
		$navLinkSize:	18px;
		$otherLinkColor:#ccc;
		$hoverOnLinkColor:#acff00;
		$objectTextColor:#8a75f7;
		$objectTextSize:	13px;
		$titleBackgroundColor: #121212;
		$headerBackgroundColor: #505050;
		$navigationBackgroundColor:#202020;
		$bodyBackgroundColor:#848484;
		$emphasisBackgroundColor:#bebdbe;
		$objectBackgroundColor:#e8e8e8;
		$text:#e8e8e8;
		