$titleColor: #fffefc;
		$headerFontFamily: 'Roboto', 'Helvetica', sans-serif;
		$bodyFontFamily: 'Lato', 'Helvetica', sans-serif;
		$titleSize: 36px;	
		$pageHeaderColor: #e3dcd1;
		$pageHeadersize: 24px;
		$mediumHeaderColor:	#c8c3b8;
		$mediumHeaderSize:	22px;
		$smallHeaderColor:	#c8c4bc;
		$smallHeaderSize:20px;
		$bodyTextColor:	#eee5d8;
		$bodyTextSize:	14px;
		$navLinkColor:	#efefef;
		$navLinkSize:	18px;
		$otherLinkColor:#ccc;
		$hoverOnLinkColor:#acff00;
		$objectTextColor:#222222;
		$objectTextSize:	13px;
		$titleBackgroundColor: #241c26;
		$headerBackgroundColor: #3a353b;
		$navigationBackgroundColor:#2a242e;
		$bodyBackgroundColor:#79767a;
		$emphasisBackgroundColor:#2c2b2b;
		$objectBackgroundColor:#c1c0c0;
		$text:#c1c0c0;
		