$titleColor: #fbf1dc;
		$headerFontFamily: 'Merriweather','Georgia', serif;
		$bodyFontFamily: 'Lato', 'Helvetica', sans-serif;
		$titleSize: 36px;	
		$pageHeaderColor: #e3ddc9;
		$pageHeadersize: 24px;
		$mediumHeaderColor:	#e3ddc9;
		$mediumHeaderSize:	22px;
		$smallHeaderColor:	#e3ddc9;
		$smallHeaderSize:20px;
		$bodyTextColor:	#eee5d8;
		$bodyTextSize:	16px;
		$navLinkColor:	#fbf1dc;
		$navLinkSize:	18px;
		$otherLinkColor:#ccc;
		$hoverOnLinkColor:#f5f2e3;
		$objectTextColor:#222222;
		$objectTextSize:	13px;
		$titleBackgroundColor: #151515;
		$headerBackgroundColor: #434043;
		$navigationBackgroundColor:#151515;
		$bodyBackgroundColor:#79767a;
		$emphasisBackgroundColor:#2b2c2c;
		$objectBackgroundColor:#c1c0c0;
		$text:#c1c0c0;
		