.button {
	clear:inline-block;
	height:2rem;
	min-width:6rem;
	font-size:1.1rem;
	margin-right:auto;
    margin-left: auto;
    margin-top:2vw;
    display:block;
    border:none;
	cursor: pointer;
	border-radius:10px;
  	-webkit-box-shadow: 0px 0px 3px 2px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  	-moz-box-shadow:    0px 0px 3px 2px #ccc;  /* Firefox 3.5 - 3.6 */
 	box-shadow:         0px 0px 3px 2px #ccc;
}


.editSubmitButton{
	height:5vh;
	width:12vw;
	font-size:1.1rem;
	margin-right:1vw;
	border:none;
	display:inline-block;
	cursor: pointer;
	border-radius:15px;
  	-webkit-box-shadow: 0px 0px 3px 2px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  	-moz-box-shadow:    0px 0px 3px 2px #ccc;  /* Firefox 3.5 - 3.6 */
 	box-shadow:         0px 0px 3px 2px #ccc;
}

.pageEditor{
	background-color:ghostwhite;
	min-height:100vh;
	height:100%;
	padding-top:2vw;
}

.pageForm{
	display:block;
}

.pageImageUpload{
	max-width:20rem;
	max-height:20rem;
	margin:0 auto;
	display:block;
	min-width:200px;
	min-height:150px;
}

.pageImage{
	max-width:20rem;
	max-height:20rem;
	margin:0 auto;
	display:block;
	min-width:200px;
	min-height:150px;
}

.pageEditingObject{
	list-style-type: none;
	text-align:center;
}

.editImageTag{
	display:block;
	margin-top:1rem;
	margin-left:3rem;
	vertical-align:top;
}

.uploadImage{
	max-width:12rem;
	max-height:12rem;
	margin-left:-.5rem;
	margin-right:1rem;
	margin-bottom:0.5rem;
	width:10vw;
	min-width:10rem;
	min-height:10rem;
	border-radius:3rpx;
}

.imageUploader {
	width:30vw;
	min-width:30rem;
	margin:0 auto;
	margin-top:4rem;
	text-align:center;
}

.imageUploadContainer {
	width:25em;
	height:20em;
	margin:0 auto;
	border:2px solid #333;
}

.uploadArrow {
	width:100%;
	margin-top:.5rem;
	font-size:5rem;
	color:#ccc;
	text-align:center;
    -webkit-transform:scale(1.5,1); /* Safari and Chrome */
    -moz-transform:scale(1.5,1); /* Firefox */
    -ms-transform:scale(1.5,1); /* IE 9 */
    -o-transform:scale(1.5,1); /* Opera */
    transform:scale(1.5,1); /* W3C */
}


.imageField{
	width:10rem;
	padding:.1rem .3rem;
	margin-right:1rem;
	margin-bottom:0.5rem;
}

.imageSmallField{
	width:5rem;
	padding:.1rem .3rem;
	margin-right:1rem;
	margin-bottom:0.5rem;
}

.checkImage{
	width:10vw;
	min-width:8rem;
	min-height:8rem;
	border-radius:3px;
}

.listObjectEditingImage{
	width:15vw;
	min-width:100px;
	min-height:100px;
}

.backLink{
	cursor:pointer;
}

.addPageMain{
	text-align:center;
}

.editingTitle {
	margin-left: auto;
	margin-right: auto;
	margin-bottom:1rem;
	margin-top:1rem;
	margin-bottom:1rem;
	font-size:1.5rem;
	text-align:center;
}

.editingSubTitle {
	margin-left: auto;
	margin-right: auto;
	margin-bottom:.5rem;
	margin-top:.5rem;
	font-size:1.2rem;
	text-align:center;
}

.editingSubSubTitle {
	margin-left: auto;
	margin-right: auto;
	width:80%;
	margin-bottom:.5rem;
	margin-top:.5rem;
	font-size:1rem;
	text-align:center;
}

.editingFormGroup {
	margin-top:1em;
}

.pageEditButton{
	display:block;
	cursor:pointer;
	height:2.5rem;
	width:15rem;
	font-size:1.2rem;
	border:none;
	border-radius:1rem;
	color:white;
	background-color:#28a745;
	margin: 0 auto;
	margin-top:1vw;
}

.pageEditButton:hover{
	background-color:#23903c;
}


.backLink{
	font-size:1.5rem;
	margin-top:1vw;
	margin-left:1vw;
	padding:0 auto;
	line-height:100%;
	width:10vw;
	color:#000;
}

.backLink:hover{
	color:#555;
}

.inputGroup{
	clear:inline-block;
	margin-left:auto;
	margin-right:auto;
	width:50vw;
}

.inputLabel{
	color:#333;
	font-size:1.3rem;
	margin-right:2vw;
	margin-top:2vw;
	margin-bottom:1vw;
	display:inline-block;
	vertical-align:bottom;

}

.smallPageField{
	/*clear:inline;*/
	display:inline-block;
	margin-left:2vw;
	height:2rem;
	width:15rem;
}

.pageField{
	display:block;
	height:10rem;
	width:50vw;
}

.form-group{
	line-height:100%;
	width:100%;
}

.fileInput {
	display:inline-block;
}

.editSubmitButtons {
	margin-top:3vw;
	margin-left:auto;
	margin-right:auto;
	padding-bottom:5vw;
	text-align:center;
	width:26vw;
}

.submitButtons{
	width:50%;
	margin:0 auto;
	text-align:center;
	padding:3rem 0;
}

.portfolioImageChoice {
	text-align:center;
	margin-top:2vw;
	font-size:1.2rem;
}

.pageEditElement {
	text-align:center;
	margin-bottom:2vw;
}


.pageEditTitle {
	display:inline-block;
	font-size:1.3rem;
}

.pageEditorButton {
	height:2rem;
	width:10vw;	
	border-radius:5px;
	border-style: none;
	margin-left:1vw;
	cursor:pointer;
	-webkit-box-shadow: 0px 0px 3px 2px #888;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  	-moz-box-shadow:    0px 0px 3px 2px #888;  /* Firefox 3.5 - 3.6 */
 	box-shadow:         0px 0px 3px 2px #888;

}


.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.trashButton {
	padding:.3rem;
	display:inline-block;
	width:2rem;
	border-radius:.3rem;
	cursor:pointer;
}

.editingInput {
	width:20rem;
	padding:.5rem;
	margin:.3rem auto;
}

.descriptionInput{
	height:10rem;
}


.user-navbar {
  background: #333;
  /*overflow: hidden;*/
}

.user-navbar-links {
  list-style-type: none;
  width:100%;
  margin: 0;
  padding: 0;
  text-align:center;
}

.user-dropwdown-link{
	background:white;
	color:#333;
}

.user-navbar-link {
  /*float:left;*/
  display: inline-block;
  color: #fff !important;
  text-align: center;
  padding: .4rem .5rem;
  text-decoration: none !important;
  font-size: 17px;
  cursor:pointer;
  line-height:1.4rem;
}


/* Change the color of links on hover */
.user-navbar-link:hover {
  color: #ddd;
}

.editProfileForm{
	margin-left:40vw;
}


.imageSelection{
	display:inline-block;
	margin:1rem 2rem;
}

.homePageSelect{
	width:10rem;
	height:2rem;
	margin-top:1.7rem;
}

.inputlabel.home{
	vertical-align:top;
}

.homeEditingObject{
	width:15rem;
	height:18rem;
	padding:1rem;
	margin:1rem;
	display:inline-block;
	list-style-type: none;
	text-align:center;
	overflow:hidden;
}

.homeInputGroup{
	position:relative;
	margin-top:.5rem;
	width:85%;
}

.homeEditingImage{
	width:12rem;
	height:12rem;
}

.trashButton.home{
	width:4rem;
}

.imageEditSelection{
	margin:1rem;
	width:80vw;
	margin-left:-10vw;
}

.colorSelector {
	padding-left:3rem;
}

.parentLinkContainer {
	width:30rem;
	padding:0 1rem;
	margin:0 auto;
	padding-bottom:4rem;
}


.childLinkCheckbox {
	height:1.4rem;
}

.childLinkSelection{
	margin-bottom:1rem;
}

.linkEditing{
	max-width:80vw;
	margin:0 auto;
	margin-bottom:2rem;
}

.linkEditingContainer{
	list-style-type:none;
	margin-left:4rem;
	height:4rem;
	line-height:100%;
}

.linkEditingField{
	display:inline-block;
	margin-left:1rem;
	margin-top:0;
	vertical-align:top;
}

.linkOrderArrows{
	cursor:pointer;
}

.layoutSubmitButton{
	height:2rem;
	font-size:1.1rem;
	margin:.3rem;
	margin-right:1vw;
	padding:0 1.5rem;
	border:none;
	display:inline-block;
	cursor: pointer;
	border-radius:15px;
  	-webkit-box-shadow: 0px 0px 3px 2px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  	-moz-box-shadow:    0px 0px 3px 2px #ccc;  /* Firefox 3.5 - 3.6 */
 	box-shadow:         0px 0px 3px 2px #ccc;
}

.layoutSubmitButton:hover{
	background:#fafafa;
}

.layoutSubmitButtons{
	width:20rem;
	margin:0 auto;
	padding-bottom:4rem;

}

/* STYLE EDITING */

.styleEditingObject{
	margin-left:8vw;
	margin-top:1.5rem;
	margin-bottom:1.5rem;

}

.styleInputGroup{
	display:inline;
	margin-right:2rem;
}

.styleEditGroup{
	margin-left:2rem;
}

.fontSlider {
	-webkit-appearance: none;  /* Override default CSS styles */
	appearance: none;
	width: 15rem; 
	height: .5rem; 
	background: #d3d3d3; 
	border-radius:.5rem;
	outline: none; 
}


.fontSlider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: .75rem; 
  height: .75rem; 
  background: #333; 
  cursor: pointer; 
  border-radius:50%;
}

.fontSlider::-moz-range-thumb {
  width: 25px; 
  height: 25px;
  background: #4CAF50; 
  cursor: pointer; 
}

.blogParagraphEditing{
    list-style-type: none;
    width:100%;
    text-align:center;
    margin:15px 0;
}

.paragraphInput{

	margin:0 auto;
	display:inline-block;
	vertical-align:top;
}

.genericPageInput{
	display:block;
}

/*.editingInput{
	width:500px;
	height:100px;
	max-width:95%;
}*/

.editingPostsList{
	margin:30px 0;
}

.editBlogPostField{
	margin-bottom:30px;
}
