.button {
	clear:inline-block;
	height:2em;
	min-width:6em;
	font-size:1.1em;
	margin-right:auto;
    margin-left: auto;
    margin-top:2vw;
    display:block;
    border:none;
	cursor: pointer;
	border-radius:10px;
  	-webkit-box-shadow: 0px 0px 3px 2px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  	-moz-box-shadow:    0px 0px 3px 2px #ccc;  /* Firefox 3.5 - 3.6 */
 	box-shadow:         0px 0px 3px 2px #ccc;
}


.editSubmitButton{
	height:5vh;
	width:12vw;
	font-size:1.1em;
	margin-right:1vw;
	border:none;
	display:inline-block;
	cursor: pointer;
	border-radius:15px;
  	-webkit-box-shadow: 0px 0px 3px 2px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  	-moz-box-shadow:    0px 0px 3px 2px #ccc;  /* Firefox 3.5 - 3.6 */
 	box-shadow:         0px 0px 3px 2px #ccc;
}

.pageEditor{
	background-color:ghostwhite;
	min-height:100vh;
	height:100%;
	padding-top:2vw;
}

.pageForm{
	display:block;
}

.pageImage{
	width:20vw;
	margin:0 auto;
	display:inline-block;
	min-width-width:200px;
	min-height:150px;
}

.pageEditingObject{
	list-style-type: none;
	text-align:center;
}

.editImageTag{
	display:block;
	margin-top:1em;
	margin-left:3em;
	vertical-align:top;
}

.uploadImage{
	max-width:12em;
	max-height:12em;
	margin-left:-.5em;
	margin-right:1em;
	margin-bottom:0.5em;
	width:10vw;
	min-width:10em;
	min-height:10em;
	border-radius:3px;
}

.imageUploader {
	width:30vw;
	min-width:30em;
	margin:0 auto;
	margin-top:4em;
	text-align:center;
}

.imageUploadContainer {
	width:25em;
	height:20em;
	margin:0 auto;
	border:2px solid #333;
}

.uploadArrow {
	width:100%;
	margin-top:.5em;
	font-size:5em;
	color:#ccc;
	text-align:center;
    -webkit-transform:scale(1.5,1); /* Safari and Chrome */
    -moz-transform:scale(1.5,1); /* Firefox */
    -ms-transform:scale(1.5,1); /* IE 9 */
    -o-transform:scale(1.5,1); /* Opera */
    transform:scale(1.5,1); /* W3C */
}


.imageField{
	width:10em;
	padding:.1em .3em;
	margin-right:1em;
	margin-bottom:0.5em;
}

.imageSmallField{
	width:5em;
	padding:.1em .3em;
	margin-right:1em;
	margin-bottom:0.5em;
}

.checkImage{
	width:10vw;
	min-width:8em;
	min-height:8em;
	border-radius:3px;
}

.listObjectImage{
	width:15vw;
	min-width:100px;
	min-height:100px;
}

.backLink{
	cursor:pointer;
}

.addPageMain{
	text-align:center;
}

.editingTitle{
	margin-left: auto;
	margin-right: auto;
	margin-bottom:2vw;
	margin-top:0vw;
	font-size:2em;
}

.pageEditButton{
	display:block;
	cursor:pointer;
	height:2.5em;
	width:15em;
	font-size:1.2em;
	border:none;
	border-radius:1em;
	color:white;
	background-color:#28a745;
	margin: 0 auto;
	margin-top:1vw;
}

.pageEditButton:hover{
	background-color:#23903c;
}


.backLink{
	font-size:1.5em;
	margin-top:1vw;
	margin-left:1vw;
	padding:0 auto;
	line-height:100%;
	width:10vw;
	color:#000;
}

.backLink:hover{
	color:#555;
}

.inputGroup{
	clear:inline-block;
	margin-left:auto;
	margin-right:auto;
	width:50vw;
}

.inputLabel{
	color:#333;
	font-size:1.3em;
	margin-right:2vw;
	margin-top:2vw;
	margin-bottom:1vw;
	display:inline-block;
	vertical-align:top;

}

.smallPageField{
	clear:inline;
	display:block;
	margin-left:2vw;
	height:2em;
	width:15em;
}

.pageField{
	display:block;
	height:10em;
	width:50vw;
}

.form-group{
	line-height:100%;
	width:100%;
}

.fileInput {
	display:inline-block;
}

.editSubmitButtons {
	margin-top:3vw;
	margin-left:auto;
	margin-right:auto;
	padding-bottom:5vw;
	text-align:center;
	width:26vw;
}

.portfolioImageChoice {
	text-align:center;
	margin-top:2vw;
	font-size:1.2em;
}

.pageEditElement {
	text-align:center;
	margin-bottom:2vw;
}

.editingTitle {
	text-align:center;
	margin-top:2vw;
}

.pageEditTitle {
	display:inline-block;
	font-size:1.3em;
}

.pageEditorButton {
	height:2em;
	width:10vw;	
	border-radius:5px;
	border-style: none;
	margin-left:1vw;
	cursor:pointer;
	-webkit-box-shadow: 0px 0px 3px 2px #888;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  	-moz-box-shadow:    0px 0px 3px 2px #888;  /* Firefox 3.5 - 3.6 */
 	box-shadow:         0px 0px 3px 2px #888;

}


.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.trashButton {
	padding:.3em;
	display:inline-block;
	width:8em;
	border-radius:4em;
	cursor:pointer;
}

.editingInput {
	width:20em;
	padding:.5em;
	margin:.3em auto;
}

.descriptionInput{
	height:10em;
}


.user-navbar {
  background: #333;
  /*overflow: hidden;*/
}

.user-navbar-links {
  list-style-type: none;
  width:100%;
  margin: 0;
  padding: 0;
  text-align:center;
}

.user-dropwdown-link{
	background:white;
	color:#333;
}

.user-navbar-link {
  /*float:left;*/
  display: inline-block;
  color: #fff !important;
  text-align: center;
  padding: .4em .5em;
  text-decoration: none !important;
  font-size: 17px;
  cursor:pointer;
}

.user-navbar-link:hover {
	color:#444;
}

/* Change the color of links on hover */
.user-navbar-link:hover {
  color: #ddd;
}


