/* Drop down menu styling */
@import './_custom.scss';


/* Navbar  */

.navbar {
  background-color: $navigationBackgroundColor;
}

.navbar-links {
  list-style-type: none;
  width:100%;
  margin: 0;
  padding: 0;
  text-align:center;

}


.navbar-link {
  /*float:left;*/
  display: inline-block;
  color: $navLinkColor;
  text-align: center;
  padding: .4rem .5rem;
  text-decoration: none !important;
  font-size: $navLinkSize;
  cursor:pointer;
}

/* Change the color of links on hover */
.navbar-link:hover {
  color: #ddd;
}

/* Add an active class to highlight the current page */
.navbar-link .active {
  color: blue;
}

.navbar .icon {
  display: none;
} 

/* Dropdown */

.dropDownMenu{
  list-style:none;
  //margin-right:3em;
  margin-top:3em;
}

.dropDownMenu > li{
  margin-top:1em;
}

.dropDownMenuWrap {
  background-color: rgba(0,0,0,0.8);
  position: fixed;
  top: 0;
  height: 100%;
  width:100%;
  text-align:center;
  margin-top: -120vh;
  font-size: 1.5em;
  font-weight: 700;
  overflow: auto;
  transition: .5s;
  box-shadow: 0px 20px 10vh 10vh rgba(0,20,40,0.35);
  z-index: 100;
}

.dropDownMenuShow {
  margin-top: 0;
}

.sidebar-menu-arrow::after {
  content: "\f107";
  font-family: 'FontAwesome';
  color: white;
  position: relative;
}

.sidebar-menu-arrow:hover::after {
  cursor: pointer;
  color: #fff;
}
.sidebar-menu-arrow:active::after {
  top: 2px;
}

.dropDownMenuLink{
  color:white;
  letter-spacing: 0.125em;
  text-align:center;
  text-decoration:none;
  cursor:pointer;
}

.dropDownMenuLink:hover{
  color:#ddd
}

.dropDownMenuLink:hover .dropdown-content{
  display:block
}

.dropDownMenuLink .dropdown-content{
  position:relative;
  color:white;
  background: none;
  width:18rem;
  margin:0 auto;
  box-shadow:none;
}

.dropbtn {
  cursor: pointer;
}

.dropdown-link {
  position:relative;
  display:inline-block;
}

.dropdown-content {
  display: none;
  position:absolute;
  min-width:160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index:0;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropDownMenuLink .dropdown-content a{
  color:white;
  background: none;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropDownMenuLink .dropdown-content a:hover{
  color:#ddd;
  background: none;
}

.dropdown-link:hover .dropdown-content {
  display: block;
}

/*Hamburger Button*/

.menuToggleButton {
  position: fixed;
  width: 3vw;
  height: 2vw;
  top: 1.5em;
  right: 5em;
  padding: .2em;
  transition: .5s;
  z-index: 900;
}

.menuToggleButton:hover {
  cursor: pointer;

}

.menuToggleButton .menuBar {
  position: absolute;
  border-radius: 2px;
  width: 80%;
  min-width:21px;
  transition: .5s;
}

.menuToggleButton .menuBarTop {
  border: 3px solid #fff;
  border-bottom: none;
  margin-top: 0;
}

.menuToggleButton .menuBarMiddle {
  height: 3px;
  background-color: #fff;
  margin-top: .75vw;
}

.menuToggleButton .menuBarBottom {
  border: 3px solid #fff;
  border-top: none;
  margin-top: 1.5vw;
}

/*open button*/

.buttonOpen {
  height:24px;
  width:24px;
  transform: translate(0, 2em);
  transition: .5s;
}

.buttonOpen .menuBarTop {
  border-color: #fff;
  transform: rotate(-45deg);
  transition: .5s;
}

.buttonOpen .menuBarMiddle {
  background-color: #fff;
  transform: translate(0px, 250px);
  transition: .1s ease-in;
  opacity: 0;
}

.buttonOpen .menuBarBottom {
  margin-top: 0;
  background-color: #fff;
  transform: rotate(45deg) ;
  transition: .5s;
}

.sub-menu{
  display:none;
}


/* Fixed Sidebar */

.menuSideBar {
  height: 100%;
  width: 14rem;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: $navigationBackgroundColor;
  overflow-x: hidden;
  padding-top: 4rem;
}

.menuSideBar .sideLink {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 1.6rem;
  color: #818181;
  display: block;
  cursor:pointer;
}

.menuSideBar .sideLink:hover {
  color: #f1f1f1;
}


.sideDropDown.sideLink:hover .dropdown-content {
  display: block;
}

.sideDropDown .dropdown-content {
  font-size:1.2rem;
}

.sideDropDown .dropdown-content{
  position:relative;
  color:white;
  background: none;
  width:18rem;
  margin:0 auto;
  box-shadow:none;
}

.sideDropDown .dropdown-content a{
  color:$navLinkColor;
  background: none;
}

.sideDropDown .dropdown-content a:hover {
  color:#ddd;
  background-color: none;
}

.sideDropDown .dropdown-content a:hover{
  color:#ddd;
  background: none;
}

.sideDropDown:hover .dropdown-content {
  display: block;
}

/*@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}*/