/* Drop down menu styling */
@import './_custom.scss';


/* Navbar  */

.navbar {
  background-color: $navigationBackgroundColor;
}

.navbar-links {
  list-style-type: none;
  width:100%;
  margin: 0;
  padding: 0;
  text-align:center;

}


.navbar-link {
  /*float:left;*/
  display: inline-block;
  color: $navLinkColor;
  text-align: center;
  padding: .5rem .5rem;
  text-decoration: none !important;
  font-family:$bodyFontFamily;
  font-size: $navLinkSize;
  cursor:pointer;
}

/* Change the color of links on hover */
.navbar-link:hover {
  color: $hoverOnLinkColor;
}

/* Add an active class to highlight the current page */
.navbar-link .active {
  color: teal;
}

.navbar .icon {
  display: none;
} 

/* Dropdown */

.dropDownMenu{
  list-style:none;
  //margin-right:3em;
  margin-top:3em;
}

.dropDownMenu > li{
  margin-top:1em;
}

.dropDownMenuWrap {
  background-color: rgba(0,0,0,0.8);
  position: fixed;
  top: 0;
  height: 100%;
  width:100%;
  text-align:center;
  margin-top: -120vh;
  font-family:$bodyFontFamily;
  font-size: 1.5rem;
  font-weight: 700;
  overflow: auto;
  transition: .5s;
  box-shadow: 0px 20px 10vh 10vh rgba(0,20,40,0.35);
  z-index: 100;
}

.dropDownMenuShow {
  margin-top: 0;
}

.sidebar-menu-arrow::after {
  content: "\f107";
  font-family: 'FontAwesome';
  color: white;
  position: relative;
}

.sidebar-menu-arrow:hover::after {
  cursor: pointer;
  color: #fff;
}
.sidebar-menu-arrow:active::after {
  top: 2px;
}

.dropDownMenuLink{
  color:white;
  letter-spacing: 0.125em;
  text-decoration:none;
  cursor:pointer;
}

.dropDownMenuLink:hover{
  color:#bbb;
}

.dropDownMenuLink:hover .dropdown-content{
  display:block
}

.dropDownMenuLink .dropdown-content{
  position:relative;
  color:white;
  background: none;
  width:18rem;
  margin:0 auto;
  box-shadow:none;
}

.dropbtn {
  cursor: pointer;
}

.dropdown-link {
  position:relative;
  display:inline-block;
}

.small-dropdown-link {
  background:white;
  font-size:1.2rem;
}


.dropdown-content {
  display: none;
  position:absolute;
  min-width:160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index:100;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropDownMenuLink .dropdown-content a{
  color:white;
  background: none;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropDownMenuLink .dropdown-content a:hover{
  color:#999;
  background: none;
}

.dropdown-link:hover .dropdown-content {
  display: block;
}

/*Menu Button*/

.menuToggleButton {
  position: absolute;
  width:21%;
  text-align:center;
  font-size: 1.2rem;
  font-family:$bodyFontFamily;
  margin-left:-10%;
  padding: .2em;
  transition: .5s;
  z-index: 900;
  cursor:pointer;
  overflow:auto;
}



.menuToggleButton:hover {
  opacity:.6;
}


/*open button*/

.buttonOpen {
  color:white;
}



.sub-menu{
  display:none;
}


/* Fixed Sidebar */

.menuSideBar {
  height: 100%;
  width: 210px;
  position: fixed;
  z-index: 100;
  top: 30px;
  left: 30px;
  line-height:1.4;
  background-color: $navigationBackgroundColor;
  overflow-x: hidden;
  padding-top: 4rem;
}

.menuSideBar .sideLink {
  width:100%;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-family:$bodyFontFamily;
  font-size: 1.6rem;
  color: #818181;
  display: block;
  cursor:pointer;
}

.menuSideBar .sideLink:hover {
  color: $hoverOnLinkColor;
}


.sideDropDown.sideLink:hover .dropdown-content {
  display: block;
}

.sideDropDown .dropdown-content {
  font-family:$bodyFontFamily;
  font-size:1.2rem;
}

.sideDropDown .dropdown-content{
  position:relative;
  color:white;
  background: none;
  width:18rem;
  margin:0 auto;
  box-shadow:none;
}

.sideDropDown .dropdown-content a{
  color:$navLinkColor;
  background: none;
}

.sideDropDown .dropdown-content a:hover {
  color:#ddd;
  background-color: none;
}

.sideDropDown .dropdown-content a:hover{
  color:#ddd;
  background: none;
}

.sideDropDown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 700px) {
  .dropDownMenu{
    margin-top:160px;
    padding-inline-start: 0;
  }

  .custom-dropdown-menu{
    height:3rem;
    background:$titleBackgroundColor;
    text-align:center;
  }

  .menuToggleButton {
    text-align:center;
    padding: .2em;
    transition: .5s;
    z-index: 900;
  }

  .sidebar {
    margin-left:0;
  }

}

@media screen and (min-width: 700px) {
  .dropDownMenu{
    margin-top:160px;
    padding-inline-start: 0;
  }

  .dropDownMenuWrap.left{
    text-align:left;
    padding-left:3rem;
  }

  .dropDownMenuWrap.right{
    text-align:right;
    padding-right:6%;
  }

  .custom-dropdown-menu.center{
    height:3rem;
    background:$titleBackgroundColor;
    text-align:center;
  }

  .custom-dropdown-menu.left{
    height:3rem;
    background:$titleBackgroundColor;
    text-align:left;
  }

  .custom-dropdown-menu.right{
    height:3rem;
    background:$titleBackgroundColor;
    text-align:right;
    margin-right:30px;
  }

  .menuToggleButton {
    text-align:center;
    padding: .2em;
    transition: .5s;
    z-index: 900;
  }

  .menuToggleButton.left{
    left:5rem;
  }

  .menuToggleButton.right{
    right:-2%;
  }
}



