@import './_custom.scss';

* {
  box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    width:100% !important;
    background-color:$bodyBackgroundColor;
    -webkit-text-size-adjust: auto;
}

a {
}
a:hover {
}


h1 {
  font-size: 50px;
  word-break: break-all;
}

.sidebar {
  margin-left:14rem;
}

.pageLink{
  font-size:$titleSize;
  font-family:$headerFontFamily;
  text-decoration:none;
  color:$titleColor;
}

.pageTitle{
  position:relative;
  font-family:$headerFontFamily;
  background:$titleBackgroundColor;
  display:block;
  text-align:center;
  min-height:4.0rem;
  margin:0;
  padding:.25rem;
  z-index:50;
}

.pageTitle.center{
  text-align:center;
}

.pageTitle.left{
  text-align:left;
  padding-left:3rem
}

.pageTitle.right{
  text-align:right;
  padding-right:3rem
}

.landingImage {
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:4vh;
	margin-bottom:4vh;
  max-height:20rem;
  max-width:100vw;
}

.landingImage.simple{
    max-height:20rem;
    max-width:100vw;
}

.landingImage.panoramic {
  height:23rem;
  width:100%;
  object-fit:cover;
  object-position:20% 50%;
  margin-top:0;
  margin-bottom:4rem
}

.landingImage.fullScreen {
  position:absolute;
  height:80vh;
  max-height:100%;
  width:100%;
  object-fit:cover;
  object-position:20% 50%;
  margin-top:0;
  z-index:0;
}

.homeText {
  text-align:center;
  color:$bodyTextColor;
  font-family:$headerFontFamily;
  margin:1rem auto;
}

.pageHeader {
  width:100%;
  padding:2rem;
  margin-top:0;
  font-family:$headerFontFamily;
  color:$pageHeaderColor;
	font-size:$pageHeadersize;
  background:$headerBackgroundColor;
	text-align:center;
}

.mediumHeader{
  width:100%;
  text-align:center;
  font-family:$headerFontFamily;
  font-size:$mediumHeaderSize;
  color:$mediumHeaderColor;
}

.smallHeader{
  width:100%;
  text-align:center;
  text-decoration:none;
  font-family:$headerFontFamily;
  font-size:$smallHeaderSize;
  color:$smallHeaderColor;
}

.bodyText{
  color:$bodyTextColor;
  font-family:$bodyFontFamily;
  font-size:$bodyTextSize;
}

.slide-container{
  margin:3rem auto;
  height:21rem;
  width:36rem;
}

.homeSlideImage{
  height:21rem;
  width:30rem;
  object-fit: cover;
  object-position: 20% 50%;
}


.homeSlideControl{
  color:white;
  cursor:pointer;
  padding:.8rem .3rem;
  font-size:1.5rem;
  background:rgba(10,10,10,.2);
}


.homeSlideControl:hover{
  background:rgba(20,20,20,.1);
}

.homeObjectContainer{
  width:100%;
  text-align:center;
  padding-top:4rem;
  margin-bottom:4rem;
}

.homeObject{
  height:18rem;
  width:17rem;
  padding:1rem;
  text-decoration:none;
  background:none;
  display:inline-block;
}

.homeObjectImage{
  height:14rem;
  width:14rem;
  object-fit: cover;
  object-position: 20% 50%;
}

.homeObjectLink{
  color:white;
  text-decoration: none !important;
}

.inline { float:left; }
.clearBoth { clear:both; }


/*page styling*/

.listPage {
  text-align:center;
}

.listPageObject {
  display:inline-block;
  width:14rem;
  padding:1rem;
  border:none;
  border-radius:3px;
  text-align:center;
  cursor:pointer;
  background:$objectBackgroundColor;
  margin:2vw;
}

.objectTitle {
  font-family:$headerFontFamily;
  font-size:$smallHeaderSize;
  color:$objectTextColor;
  margin-bottom:1rem
}

.objectBlurb{
  color:$objectTextColor;
  font-family:$bodyFontFamily;
  font-size:$objectTextSize;
  margin-bottom:1rem
}

.listObjectImage{
  cursor:pointer;
  width:10rem;
  height:8rem;
  border-radius:3px;
  object-fit:cover;
  margin-bottom:1rem;
}

.loginPage {
  margin:0 auto;
  text-align:center;
}

.loginInput {
  width:12em;
  font-size:1em;
  padding:.1em .3em;
  margin-left:.5em;
  margin-top:.5em;

}

.loginForm {
  text-align:center;
  width:20em;
  margin:0 auto;
}

.textPage {
  width:38rem;
  max-width:100%;
  padding-top:2rem;
  margin:0 auto;
  text-align:center;
}

.textPageImage {
  max-height:15rem;
  max-width:15rem;
  text-align:right;
  margin-top:-1rem;
  margin-bottom:2rem
} 

.textPageMainText {
  max-width:100%;
  text-align:left;
  vertical-align:top;
  margin:0 auto;
  margin-bottom:1rem;

}

.textPageSecondaryText {
  max-width:100%;
  margin:0 auto;
  text-align:left;
}

.image-container{
  text-align:center;
}

.emphasis{
  padding:1rem 1rem;
  font-family:$bodyFontFamily;
  background:$emphasisBackgroundColor;
}
