


/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

.row {
  margin: auto;
  text-align: center;

}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 1.5em;
}

/* Create four equal columns that floats next to each other */
.column {
  display:inline-block;
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

.inline { float:left; }

.portfolioImageContainer {
  position: relative;
  max-height:20vw;
  max-width:20vw;
  min-width:10em;
  min-height:10em;
}

.portfolioImage{
  display:block;
  max-height:20vw;
  max-width:20vw;
  min-width:10em;
  min-height:10em;
  vertical-align:top;
}

.portfolioImage:hover{
  
}

.portfolioOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  line-height:100%;
  vertical-align:top;
  cursor:pointer;
  transition: .6s ease;
  background-color: rgba(40,40,40,.7);
}

.portfolioImageContainer:hover .portfolioOverlay {
  opacity: 1;
}

.portfolioImageText {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  line-height:1.6;
  vertical-align:top;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .portfolioImage{
    max-width:40vw;
    max-height:40vw; 
  }

  .portfolioImageContainer {
    max-height:40vw;
    max-width:40vw;
  }

  .column {
    /*width: 50%;*/
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .portfolioImage{
    max-width:80vw;
    max-height:80vh; 
  }

  .portfolioImageContainer {
    position: relative;
    max-height:80vw;
    max-width:80vw;
  }

  .column {
    /*width: 100%;*/
  }
}