/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

.portfolioDescription {
  width:70vw;
  text-align:center;
  margin: 1rem auto;
  margin-top:2rem;
}

.row {
  margin: auto;
  text-align: center;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 1.5em;
}

/* Create four equal columns that floats next to each other */
.column {
  display:inline-block;
  vertical-align:top;
}

.column.list {
  display:block;
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}


.inline { float:left; }

.portfolioImageContainer {
  position: relative;
  max-height:25vw;
  max-width:25vw;
  min-width:10em;
  min-height:10em;
}

.portfolioImage{
  display:block;
  max-height:25vw;
  max-width:25vw;
  min-width:10em;
  min-height:10em;
  vertical-align:top;
}

.portfolioImage.list{
  max-width:50vw;
  max-height:40rem; 
  margin:0 auto;
}

.portfolioImageContainer.list {
  position: relative;
  max-width:50vw;
  max-height:40rem;
  margin: 0 auto;
  overflow:auto;
}

.portfolioSlideImage{
  max-height:25rem;
  max-width:100%;
  object-fit: cover;
  object-position: 20% 50%;
  -webkit-box-shadow:0 0 15px 1px rgba(0,0,0,.55);
  -moz-box-shadow:0 0 15px 1px rgba(0,0,0,.55);
  /* box-shadow:0 0 15px 1px rgba(0,0,0,.55); */
  -webkit-filter:grayscale(0);filter:grayscale(0);
}


.portfolioOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height:100%;    
  width: 100%;
  opacity: 0;
  line-height:100%;
  vertical-align:top;
  cursor:pointer;
  transition: .6s ease;
  background-color: rgba(40,40,40,.7);
}

.portfolioOverlay.list {
  max-width:50vw;
  max-height:none;
}

.portfolioImageContainer:hover .portfolioOverlay {
  opacity: 1;
}

.portfolioImageText {
  color: #fbf1ec;
  font-size: 1.2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  line-height:1.6;
  vertical-align:top;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .portfolioImage{
    max-width:40vw;
    max-height:40vw; 
  }

  .portfolioImageContainer {
    max-height:40vw;
    max-width:40vw;
  }

  .column {
    /*width: 50%;*/
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .portfolioImage{
    max-width:80vw;
    max-height:80vh; 
  }

  .portfolioImageContainer {
    position: relative;
    max-height:80vw;
    max-width:80vw;
  }

  .column {
    /*width: 100%;*/
  }
}